body {
    font-family: Arial, sans-serif;
    background-color: #FFF7F1;
    color: #16423c;
    margin: 0;
    padding: 0;
}

header {
    background-color: #e8d6cb;
    padding: 15px;
    position: relative;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.logo img {
    height: 60px;
}

nav {
    float: right;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #FF204E;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #6A9C89;
    border-radius: 5px;
}

.company-details {
    margin-top: 20px;
}

.company {
    border: 1px solid #6A9C89;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #E9EFEC;
    transition: transform 0.2s;
}

.company:hover {
    transform: scale(1.02);
}

.map {
    margin-top: 10px;
}

h2 {
    color: #FF204E;
}

a {
    color: #FF204E;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
/* Footer */
footer {
    background: #ad6a6c;
    color: #e8d6cb;
    padding: 20px;
    text-align: center;
    border-top: 5px solid #FF204E;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
}

footer p {
    margin: 5px 0;
}