body {
    font-family: Arial, sans-serif;
    background-color: #FFF7F1;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #FF204E;
    color: white;
    padding: 20px;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); /* Increased min size */
    gap: 30px; /* Increased gap between items */
    padding: 20px;
}

.grid-item {
    background: #E78895;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.grid-item:hover {
    transform: scale(1.05);
}

img {
    max-width: 100%; /* Ensures image takes full width of the grid item */
    border-radius: 8px;
    height: auto; /* Maintain aspect ratio */
}

footer {
    background-color: #E78895;
    text-align: center;
    padding: 15px;
    position: relative;
    bottom: 0;
    width: 100%;
}
